@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: #F2F2F5;
}
.margin-bottom--16 {
    margin-bottom: 16px;
}
.card {
    background-color: white;
    border-radius: 16px;
    display: flex;
    overflow: hidden;
}
.card__background-image {
    width: 176px;
    min-height: 100px;
    flex-shrink: 0;
    background-image: url(https://picsum.photos/400/320);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.card__content {
    padding: 24px;
    min-width: 290px;
    flex-shrink: 1;
}
.card__heading {
    margin: 0;
    margin-bottom: 4px;
    color:#8E90A6 ;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__name{
    margin: 0;
    margin-bottom: 4px;
    color: #000000;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
}
.card__paragraph {
    margin: 0;
    margin-bottom: 16px;
    color: #555770;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

@media only screen and (max-width: 480px) {
    .card {
        flex-direction: column;
    }
    .card__background-image {
        width: 100%;
    }
}
/*Vidus kartiņa no team grupas*/

.card__image{
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 24px;
    margin-left: 24px;
        }

.card__image-face{
    position: absolute;
    width: 100%;
    min-width: 72px;
       border-radius: 50%;
            }

.card__content-title-name{
    margin: 0;
    margin-bottom: 4px;
    flex-shrink: 1;
  }
.card__heading-full-name{
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 32px;
color: black;

}

.card_job-title{
    margin-left: 8px;
    color: #8E90A6;
}
.card__paragraph-description {
    margin: 0;
    margin-bottom: 16px;
    
}

.card__quote-wrapper{
    margin: 0;
    width: 100%;
    position: relative;
    padding-right: 4px;
}
.card__input-quote{
    justify-content: right;
}

.card__image-last{
    width: 100%;
    position: relative;
    margin: 0 auto;
    align-items: center;
}
.card__image-face-centered{
    border-radius: 50%;
     margin-top: 5px;
}
.card__content-last{
    margin: 0;
}

.card__name-last{
margin: 0;
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 32px;
}

.card__title-last{
margin: 0 4px;
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 14px;
color: #8E90A6;
}
.card__paragraph-last{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
color: #555770;
margin: 0px 16px;
text-align: justify;
margin-top: 16px;
}