@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
.row{
    display: flex;                /* Children use Flexbox */
  flex-direction: row;
}

.card {
    padding: 16px;
    background-color: white;
    width: 100%;
    border-radius: 16px;
    float: left;

}
  

.card_image-wrapper{
        width: 100%;
        padding-top: 80%;
        position: relative;
        margin-bottom: 16px; 
     
    }
.card__image{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px;
}

.card__description{
    display: grid;
    align-items: center;
    justify-content: space-between;
   
}

.card__title{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #8E90A6;
    margin: 0px 4px;
    align-self: center;
}

.card__person-name{
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 44px;
color: #000000;
margin: 0px 4px;
}

.card_paragraph{
max-width: 424px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
align-self: center;
margin: 0px 4px;
position: relative;
}



.card_round {
padding: 16px;
 background-color: white;
width: 100%;
 border-radius: 24px;

  }
  

.card_round-image-wrapper{
width: 100%;
position: relative;
 margin-bottom: 8px;  
 padding-top: 100%;
 align-content: center;

    }

.card__round-image{
width: 100%;
max-width: 72px;
position: absolute;
left: 0;
 top: 0;
border-radius: 50%;
overflow: hidden;
 
}

.card__round-description{
    align-items: center
  
}

.card__round-title{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
     letter-spacing: 2px;
    text-transform: uppercase;
    color:#8E90A6;
    margin-top: 4px;

}

.card__round-person-name{
font-family: Inter;
font-weight: 700;
font-style: normal;
font-size: 32px;
color: #000000;
display: flex;
margin-bottom: 0px;
margin-top: 0px;


}

.card__round-paragraph{
max-width: 424px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
align-self: center;
margin: 0px 16px;

}

.card__round-comma{
text-align: right;
color: #3366FF;
font-size: 42px;
margin-top: -3%;
display: grid;


}